@use '../../../global.scss' as *;

.kgMembersContainer {
  margin-top: 1rem;
  width: 100%;

  .memberTitle {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .membersTable {
    * {
      font-size: 0.7rem;
    }
  }

  .search {
    width: 82%;
  }

  .headerRow {
    font-weight: bold;
    background-color: var(--mantine-color-dark-4);
  }
}
