@use '../../../global.scss' as *;

.projectListContainer {
  height: 84vh;
  width: 93vw;
  overflow-y: auto !important;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
  gap: 1rem;
}
