@use '../../../global.scss' as *;

// main chat window
.chatWindow {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .messageContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    padding: 1rem 0;

    .chatMessage {
      display: flex;
      gap: 0.1rem;

      .chatHeader {
        display: flex;
        align-items: flex-end;
        margin-bottom: 0.5rem;
      }

      .chatBody {
        min-width: 95%;
        border-radius: 0.5rem;
        padding: 0.5rem;

        .chatMeta {
          display: flex;
          justify-content: flex-end;
          font-size: 0.75em;
          opacity: 0.5;
        }
      }
    }

    .emptyChat {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .chatInput * {
    font-size: 0.85rem;
  }
}
