@use '../../../global.scss' as *;

.assetListContainer {
  width: 100%;
  height: 75.5vh;
  overflow-y: auto !important;
  transition: opacity 0.5s ease-in;

  .assetList {
    max-width: 100%;
  }

  * {
    font-size: 0.6rem !important;
  }

  .assetMembers {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .assetTitle {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 1rem;
  }

  .tableCell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }

  .assetType {
    background-color: #0975c845;
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
  }

  .headerRow {
    font-weight: bold;
    max-width: 100%;
    background-color: var(--mantine-color-dark-4);
    // color: var(--mantine-color-dark-9);
  }

  .status {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border-radius: 0.1rem;
    justify-content: center;
    padding: 0.2rem 0;
  }
}

.menuIcon {
  cursor: pointer;
}
